@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Google top banner and icon while keeping translation active. */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-balloon-frame {
  display: none !important;
}

.goog-te-spinner-pos {
  display: none !important;
}

html {
  top: 0 !important;
}

.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}
